.background_image {
    background-image: url('https://images3.alphacoders.com/133/1335147.jpg');
    height: calc(100vh - 56px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }